{% extends 'base.html' %}

{%block title%}
Estante2
{%endblock%} 
{%block content%}
    <div class="grid grid-cols-2 md:grid-cols-5 gap-4">

        {%for livro in livros %}
            <div>
               
                <a href="{%url 'livro' livro.id %}">
                   
                    <img class="h-24 w-24 rounded-lg" src="{{livro.capa.url}}" alt="{{livro.titulo}}">
                </a>
                <form action="" method=""> {% csrf_token %}
                    <button><i class="fi fi-tr-rectangle-xmark"></i></button>
                </form>
            </div>
        {% endfor %}
    </div>

{%endblock%}