{% extends 'base.html' %}
{%load static %}
{%block title%}
Estante
{%endblock%} 
{%block content%}
{%block head%}
<link rel="stylesheet" href="{% static 'css/estante.css' %}">
    {%endblock%}

    <div class="bookshelf">

        <div class="shelf">
            {% for livro in livros %}
            <div class="book" draggable="true" data-id="{{ livro.id }}">
                <a href="{% url 'livro' livro.id %}">
                    <img src="{{ livro.capa.url }}" alt="{{ livro.nome }}" class="book-cover">
                </a>
                <p class="book-title">{{ livro.nome }}</p>
            </div>
            {% endfor %}
        </div>
        
    </div>
    
    
    
<script src="{% static 'js/estante.js' %}"></script>
{%endblock%}