
{% extends 'base.html' %}
{%load static %}
    {%block title%}Livro {%endblock%}
   
    <div class="modal z-50" id="modal" >
        <div class="modal-content">
            <h4>Ações para o texto selecionado</h4>
            <div class="color-options">
                <button class="color-btn" style="background: #FFD700;" onclick="markText('#FFD700')"></button>
                <button class="color-btn" style="background: #FF4500;" onclick="markText('#FF4500')"></button>
                <button class="color-btn" style="background: #00FF00;" onclick="markText('#00FF00')"></button>
                <button class="color-btn" style="background: #87CEEB;" onclick="markText('#87CEEB')"></button>
            </div>
            <textarea id="comment" placeholder="Adicionar comentário..."></textarea>
            <div class="modal-actions">
                <button onclick="saveComment()">Salvar Comentário</button>
                <button onclick="removeHighlight()">Apagar Marcação</button>
                <button onclick="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>
    {%block content%} 
    
    <div class="book-container">
        <div class="book">

        </div>
    </div>
    {%endblock%}
 <script src="{% static 'js/jslivro.js' %}"></script>