.bookshelf {
    width: 90%;
    max-width: 600px;
    background-color: #a67c52;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5% 0;
}

.shelf {
    display: flex;
    gap: 10px;
    justify-content: space-between; /* Alinha os itens uniformemente */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #d9b382;
    border-radius: 5px;
    border-bottom: 5px solid #a67c52; /* Linha divisória entre as fileiras */
}

.shelf:last-child {
    border-bottom: none; /* Remove a divisória da última fileira */
}

.book {
    flex: 0 1 calc(33.33% - 20px);
    max-width: 120px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: grab;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.book-cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

.book-title {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: #333;
}
